
<div class="main">
  <img id="adimg" src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg?t=st=1712808759~exp=1712812359~hmac=23efc809e05ffdc45221b8aa7594fe26bca59056f0621fa274a3aee213c4df63&w=996" style="background-size: cover;"  >

</div>