
<form action="/signup/" method="post">
<div class="form-floating mt-3 mb-3" style="width: 30%;">
  <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" name="fullname">
  <label for="floatingInput">Full Name</label>
</div>
<div class="form-floating mt-3 mb-3" style="width: 30%;">
  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="user_name">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating mt-3 mb-3" style="width: 30%;">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
  <label for="floatingPassword">Password</label>
</div>
<input type="submit" value="signup">
</form>